* {
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    margin-left: 125px;
    margin-right: 125px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-left: 125px;
    margin-right: 125px;
}

.nav-links {
    display: flex;
    gap: 10px;
    list-style: none;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.header p {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 0;
}

.header button {
    background-color: #3882F6;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.services {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.serv-banner {
    font-size: 36px;
    font-weight: 700px;
    color: #1F2937;
}

.pics {
    display: flex;
    justify-content: space-between;
    margin-left: 125px;
    margin-right: 125px;
}

img {
    border-radius: 10px;
    border: 3px solid #3882F6;
}

.test {
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 100;
    margin-left: 125px;
    margin-right: 125px;
}

.quoter {
    text-align: end;
    font-weight: 700;
    margin-left: 125px;
    margin-right: 125px;
}

.CTA {
    display: flex;
    background-color: #3883F6;
    border-radius: 7px;
    color: #E5E7EB;
    margin-left: 125px;
    margin-right: 125px;
    align-items: center;
    column-gap: 75px;
    justify-content: space-around;
    padding: 50px;
}

.text h3, p {
    margin: 0;
} 

.CTA button {
    background-color: #3882F6;
    border-radius: 5px;
    border: 2px solid whitesmoke;
    color: whitesmoke;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

footer {
    display: flex;
    background-color: #1F2937;
    color: whitesmoke;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}